/* styles.css */

body {
  margin: 0;
  text-align: center;
}

head {
  background-color: #e1efca;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
  font-size: 3em;
}

.contact {
  text-transform: uppercase;
  font-size: 19px;
  padding-bottom: 15px;
}
a {
  color: black;
  text-decoration: none;
}
.add-contact-btn {
  background-color: #a99abd;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-top: 16px;
  display: inline-block;
}
.delete-contact-btn {
  display: inline-block;
  background-color: #f5f5f5;
}

/* Page ajout d'un nouveau contact  /*/
.add-contact-container {
  background-color: #f5f5f5;
  padding: 20px;
  width: 50%;
  margin: 50px auto;
}

h2 {
  color: #333;
}

form {
  display: grid;
}

label {
  text-align: left;
  padding-right: 10px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #a99abd;
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.back-btn {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}
